* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.catalogo{
    padding: 10px;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal
}
.desc { 
    border: 2px solid rgb(9, 9, 82);
    margin-bottom: 5px;
    padding: 10px;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal
}

header .menuprincipal {
    background-color: rgb(9, 9, 82);
}

header .menuprincipal .home {
    display: flex;
    padding: 25px 0 0 25px;
}

header .menuprincipal .carrito {
    display: flex;
    justify-content: end;
    padding: 0 70px 35px 0;
}

header .menuprincipal .carrito i {
    font-size: 30px;
    transition: all .3s ease;
}

header .menuprincipal .carrito i:hover {
    color: rgba(241, 243, 209, 0.701);
}

body {
    background-color: rgba(241, 243, 209, 0.701);
}

/* NAV --------------------------------------------*/

.t1 {
    display: flex;
    justify-content: space-evenly;
}

#iconosnav .t1 .t2 {
    border-bottom: 2px solid aliceblue;
    display: inline-block;
}

#iconosnav .t1 .t2:hover{
    transform: scale(1.3);
    transition: 500ms;
}

nav {
    background-color: rgb(9, 9, 82);
    margin-top: 10px;
    padding: 20px;
}

.fa-solid:hover{
    color: aliceblue;
}
/* FIN NAV -----------------------------------------*/

/* FOOTER ------------------------------------------*/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.fa-brands {
    color: aliceblue;
}

.fa-regular {
    color: aliceblue;
}

.ftext {
    text-align: center;
    color: aliceblue;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal
}

.ftext p {
    margin-top: 30px;
}

footer {
    background-color: rgb(9, 9, 82);
    padding: 50px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
}

.footer-links h4 {
    font-size: 15px;
    color: aliceblue;
    font-family: "Oxanium", sans-serif;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid aliceblue;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 12px;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: rgba(241, 243, 209, 0.701);
    padding-left: 6px;
}

.pay-links ul li a {
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 5px;
}

.social-links ul li a {
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
}

@media(max-width:991px) {
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
}

/* FIN FOOTER --------------------------------------*/

a {
    text-decoration: none;
    color: aliceblue;
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal
}